YII_DEBUG=true
YII_ENV=dev

DB_HOST=127.0.0.1
DB_NAME=yii2-bootstrap4
DB_USER=root
DB_PASS=secret

SMTP_HOST=smtp.gmail.com
SMTP_LOGIN=ruslanmadatov@gmail.com
SMTP_PASSWORD=secret

# MySQL root user password
MYSQL_ROOT_PASSWORD=secret

MYSQL_USER=yii2-bootstrap4
MYSQL_PASSWORD=secret
MYSQL_DATABASE=yii2-bootstrap4
